doctype html
meta(name='viewport', content='width=device-width, initial-scale=1.0')  
html
 head
  link(rel='stylesheet', href='/css/index.css') 
  title Statera
  body
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")
   script(type="text/javascript", src="/js/company.js")
   .header
    h1.company-title #{company}
    h2.company-amount Total contributions: #{total_contr}
    h2.company-amount Total amount:  $#{total_amount}
   ul.nav
    li: a(href='/') Home
    li: a(href='/directory') Directory
    li: a(href='/about') About
    li: a(href='/compare') Compare

  .main-content
   div.issue
    h1 Abortion
    .table-format
     table
      tr
      td 
      td #{abortion_lean_l}
      td #{abortion_lean_r}
    //h1.score #{abortion}
    h3 #{abortion_lean}

   div.issue
    h1 Financial Regulation
    .table-format
     table
      tr
      td
      td #{fin_lean_l}
      td #{fin_lean_r}
    //h1.score #{financial_regulation}
    h3 #{financial_regulation_lean}

   div.issue
    h1 Science and Technology Innovation
    .table-format
     table
      tr
       td
       td #{STI_lean_l}
       td #{STI_lean_r}
    //h1.score #{STI}
    h3 #{STI_lean}

   div.issue
    h1 Immigration
    .table-format
     table
      tr
       td
       td #{immigration_lean_l}
       td #{immigration_lean_r}
    //h1.score #{immigration}
    h3 #{immigration_lean}

   div.issue
    h1 Foreign Trade
    .table-format
     table
      tr
       td
       td #{foreign_trade_lean_l}
       td #{foreign_trade_lean_r}
    //h1.score #{foreign_trade}
    h3 #{foreign_trade_lean}

   div.issue
    h1 Healthcare
    .table-format
     table
      tr
       td
       td #{healthcare_lean_l}
       td #{healthcare_lean_r}
    //h1.score #{healthcare_score}
    h3 #{healthcare_lean}

   div.issue
    h1 Gun Control
    .table-format
     table
      tr
       td
       td #{gun_control_lean_l}
       td #{gun_control_lean_r}
    //h1.score #{gun_control_score}
    h3 #{gun_control_lean}

   div.issue
    h1 Taxation
    .table-format
     table
      tr
       td
       td #{taxation_lean_l}
       td #{taxation_lean_r}
    //h1.score #{taxation_score}
    h3 #{taxation_lean}

   div.issue
    h1 Labor and Employment
    .table-format
     table
      tr
       td
       td #{labor_lean_l}
       td #{labor_lean_r}
    //h1.score #{labor_score}
    h3 #{labor_lean}

   div.issue
    h1 Environmental Regulation
    .table-format
     table
      tr
       td
       td #{environment_lean_l}
       td #{environment_lean_r}
    //h1.score #{environment_score}
    h3 #{environment_lean}